@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
.App {
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-top: 20px;
}

.weather-container {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(72, 72, 73, 0.37);
  display: inline-block;
}

#error {
  color: red;
}

input {
  font-family: "Kumbh Sans", sans-serif;
}

input[type="text"] {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1rem;
}

button {
  font-family: "Kumbh Sans", sans-serif;
  padding: 8px 20px;
  margin: 0 1px;
  background-color: #4682b4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
  filter: grayscale();
}

button:hover {
  background-color: #36648b;
}

#forecast {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.forecast-item {
  width: 120px;
  text-align: center;
}

@media (max-width: 768px) {
  input[type="text"] {
    width: 80%;
    margin-bottom: 10px;
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  filter: grayscale();
}

.loader {
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 768px) {
  #forecast{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .weather-container{
    width: 80%;
  }
}

::-webkit-scrollbar{
  display: none;
}

.logo{
  width: 150px;
  height: 110px;
  margin-top: 20px;
  filter: grayscale();
}