.forecast-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
}
  
  .forecast-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .forecast-list {
    display: flex;
    justify-content: space-around;
    max-height: 50vh;
  }
  
  .forecast-item {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
    margin: 1vw;

  }
  
  .forecast-item:hover {
    transform: translateY(-5px);
  }
  
  .day-of-week {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .forecast-icon {
    width: 50px;
    height: 50px;
  }
  
  .forecast-temperature {
    font-size: 18px;
    color: #666;
    font-weight: bold;
  }
  @media only screen and (max-width: 768px) {
    .forecast-list{
        flex-direction: column;
        align-items: center;
        overflow: scroll;
        justify-content: flex-start;
        flex-direction: column;
    }
    .tooltip{
      display: none !important;
    }
  }

  .forecast-item {
    position: relative;
    width: 120px;
    height: 180px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .tooltip {
    position: absolute;
    top: -150px;
    /* left: 50%; */
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.763);
    backdrop-filter: blur(40px);
    /* background-color: #fff; */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .column {
    flex: 1;
    padding: 0 10px;
  }
  
  .column p {
    margin: 5px 0;
    display: flex;
  }

  .column > p > i {
    margin: 0 1rem;
  }